# Puerto en el que correrá la aplicación
PORT=3000

# Clave de API para algún servicio externo (si aplica)
API_KEY=

# --- Seguridad y JWT ---
# IMPORTANTE: Genera strings aleatorios y seguros para las siguientes claves.
# Puedes usar un generador online o la terminal (ej: openssl rand -hex 32)
JWT_SECRET=
JWT_RECOVERY=
REFRESH_TOKEN_SECRET=

# --- Configuración de la Base de Datos ---
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=
DB_PORT=5432

# --- Configuración para envío de emails con Nodemailer ---
USER_EMAIL=
EMAIL_PASSWORD=
